body {
        background: black;
      }
      .row
      {
        //border: 2px solid yellow;
        margin: 35px;
      }
      .col-md-6
      {
        //border: 2px solid red;
      }
      div#board{
        display: flex;
        justify-content: center;
        margin: 35px;
      }
      td {
        width: 50px;
        height: 50px;
        border: 2px solid rgb(83, 175, 19);
      }
      .hit {
        background: red;
        //background: url("ship.png") no-repeat center center;
        //width: 40px;
        //height: 40px;
      }
      .miss {
        background: rgb(152, 207, 113);
        //background: url("miss.png") no-repeat center center;
        //width: 40px;
        //height: 40px;
      }
      .hitmessage
      {
         color: red;
      }
      .missmessage
      {
         color: green;
      }
      .normal
      {
        //background: white;
        //width: 40px;
        //height: 40px;
      }
      .container
      {
        //border: 1px solid blue;
      }
      div#messageArea {
        //position: absolute;
        top: 0px;
        left: 0px;
        //color: rgb(83, 175, 19);
        font-size: 2em;
      }
      form {
        //position: absolute;
        top: 0px;
        right: 0px;
        padding: 15px;
        background-color: rgb(83, 175, 19);
      }
      form input {
        background-color: rgb(152, 207, 113);
        border-color: rgb(83, 175, 19);
        font-size: 2em;
      }
      .header
      {
        text-align: center;
        font-size: 2em;
        color: black;
        background-color: rgb(152, 207, 113);
      }